@media screen and (max-width:45rem) {
    header nav {
        display: none;
    }

    .list {
        display: block;
    }

    .container {
        width: 80%;
    }

    .row {
        justify-content: space-around;
    }
    
    .home .container {
        flex-direction: column;
    }
    .home .about{
        position: relative;
        padding: 0rem;
        width: 100%;
    }
    .langueg .container {
        flex-direction: column;
        gap: 0rem;
    }
    footer .container {
        flex-direction: column;
        padding: 0;
        font-size: 1.5rem;
    }
}

